<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Welcome to Craving Master!</h1>
    <form action="/" method="post">
        <h1>Login</h1>

        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        <button type="submit">Submit</button>
    </form>

    <form action="/register" method="post">
        <h1>Register</h1>
        <input type="text" placeholder="Username" name="register-username">
        <input type="text" placeholder="Password" name="register-password">
        <input type="text" placeholder="Name" name="register-name">
        <input type="text" placeholder="Phone" name="register-phone">
        <input type="text" placeholder="Age" name="register-age">
        <input type="text" placeholder="City" name="register-city">
        <button type="submit">Submit</button>
    </form>
</body>

</html>